# Maven
/target

# Gradle
/build

# IDE files
*.iml
.idea/
*.classpath
*.project
*.settings/

# OS files
.DS_Store

# Logs
*.log

# Keystores or secrets
*.p12
.env

# Sensitive files
src/main/resources/application.properties
src/main/resources/application.properties
